* {
    margin: 0;
    padding: 0;
}

#map-canvas {
    width: 500px;
    height: 300px;
}

#label-map {
    text-align: right;
    margin-left: 30rem;
}

#map-container {
    padding-left: 54rem;
    padding-top: 1rem;
}